<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>La Historia de un Campeón</h1>

<p>Fernando Alonso es un piloto español de automovilismo, considerado uno de los más talentosos y exitosos en la historia de la Fórmula 1. Nació el 29 de julio de 1981 en Oviedo, Asturias, España. Desde muy joven, Alonso mostró un gran interés y habilidad para el karting, lo que marcó el inicio de su carrera en el automovilismo.</p>

<h3>Inicios en la Fórmula 1</h3>

<p>Alonso comenzó su carrera en la Fórmula 1 en el año 2001 con el equipo Minardi, donde su talento pronto se hizo evidente a pesar de las limitaciones del coche. Su habilidad para competir a un alto nivel con un material no competitivo llamó la atención de equipos más grandes.</p>
<img src="assets/alonso_minardi_01_16.jpg" alt="">

<h3>Éxito con Renault</h3>

<p>En 2003, Alonso se unió al equipo Renault, donde alcanzó su primer gran éxito. Ganó su primer Gran Premio en Hungría ese mismo año, convirtiéndose en el entonces piloto más joven en ganar una carrera de F1. En 2005 y 2006, Alonso ganó consecutivamente el Campeonato Mundial de Pilotos, interrumpiendo la dominancia de Michael Schumacher y Ferrari. Estas victorias lo establecieron como uno de los principales pilotos de su era.</p>
<img src="assets/renault.jpeg" alt="">

<h3>Paso por McLaren y Ferrari</h3>

<p>En 2007, Alonso se movió a McLaren, un periodo marcado tanto por resultados destacados como por tensiones internas, especialmente con su compañero de equipo, Lewis Hamilton. Regresó a Renault por dos temporadas más antes de unirse a Ferrari en 2010. Durante su tiempo en Ferrari, Alonso estuvo cerca de ganar el campeonato en varias ocasiones (2010, 2012 y 2013), pero siempre se quedó corto, a menudo debido a la falta de competitividad de su coche comparado con sus rivales.</p>
<img src="assets/mclaren2007.jpeg" alt="">
<img src="assets/ferrari.webp" alt="">

<h3>Retornos y actividades recientes</h3>

<p>Después de dejar Ferrari en 2014, Alonso volvió a McLaren, donde enfrentó años difíciles debido a problemas de rendimiento del equipo y su motorista, Honda. Alonso dejó la Fórmula 1 al final de 2018, pero no se retiró del automovilismo. Participó en otras categorías como el Campeonato Mundial de Resistencia (WEC), donde ganó las 24 Horas de Le Mans, y en la Indy 500 en Estados Unidos.</p>
<img src="assets/lemans.avif" alt="">

<p>En 2021, Fernando Alonso regresó a la Fórmula 1 con el equipo Alpine (anteriormente Renault), demostrando que aún podía competir a un alto nivel a pesar de su edad. A lo largo de su carrera, Alonso ha sido elogiado por su habilidad para extraer el máximo rendimiento de sus coches, así como por su intensa determinación y capacidad estratégica en la pista.</p>
<img src="assets/alpine.webp" alt="">

<p>En el verano de 2022 Fernando tomo una decision muy sonada de irse al equipo Aston martin, el cual esa misma temporada habia quedado de las ultimas posiciones en el mundial de constructores. Pero Fernando tenia un plan y asi lo demostro haciendo subir a su equipo hasta el 4º puesto y haciendo podium en varias carreras a lo largo del campeonato.</p>

<img src="assets/antonmartin.jpeg" alt="">
</body>
</html>







