<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la Enciclopedia de Fernando Alonso</h1>
        <p>Explora la trayectoria de una leyenda del automovilismo</p>
        <img src="assets/trio2809.jpg" alt="Celebraciones Fernando Alonso">
        
    </header>

    <section>
        <h2>Características de la Web:</h2>
        <ul>
            <li><strong>Buscador por Carrera y Año:</strong> ¿Quieres saber cómo le fue a Alonso en el Gran Premio de Mónaco de 2006? Solo introduce el año y la carrera, y obtendrás todos los detalles: la posición en la que terminó, su vuelta más rápida y la escudería con la que compitió.</li>
            <li><strong>Cronología de su Carrera:</strong> Sigue el camino de Alonso desde sus humildes inicios en Minardi, pasando por sus triunfos con Renault, hasta sus desafiantes años en McLaren y Ferrari, y más allá.</li>
            <li><strong>Historia:</strong> Revive los momentos más gloriosos de su carrera a través de imágenes que capturan sus victorias y desafíos en la pista.</li>
            
        </ul>
    </section>

    <footer>
        <p>Te invitamos a navegar por nuestra web y a sumergirte en el emocionante mundo de Fernando Alonso, donde cada vuelta y cada carrera cuentan la historia de un verdadero campeón.</p>
    </footer>
</body>
</html>